//ANIMATIONS
@-webkit-keyframes 'spina'{
	from{
		@include vendorize(transform, translate(0px, 0px));
	}
	to{
		@include vendorize(transform, translate(0px, 10px));
	}
}

@-webkit-keyframes 'spinb'{
	from{
		@include vendorize(transform, translate(0px, 10px));
	}
	to{
		@include vendorize(transform, translate(0px, 0px));
	}
}

@keyframes 'spina'{
	from{
		@include vendorize(transform, translate(0px, 0px));
	}
	to{
		@include vendorize(transform, translate(0px, 10px));
	}
}

@keyframes 'spinb'{
	from{
		@include vendorize(transform, translate(0px, 10px));
	}
	to{
		@include vendorize(transform, translate(0px, 0px));
	}
}



@-webkit-keyframes 'slide'{
	from{
		@include vendorize(transform, translate(0px, 10px));
	}
	to{
		@include vendorize(transform, translate(0px, 0px));
	}
}

@keyframes 'slide'{
	from{
		@include vendorize(transform, translate(0px, 10px));
	}
	to{
		@include vendorize(transform, translate(0px, 0px));
	}
}

@-webkit-keyframes 'cloud' {
	from{
		margin-left: -30%;
	}
	to{
		margin-left: 102%;
	}
}

@-webkit-keyframes 'cloudtwo' {
	from{
		margin-left: -30%;
	}
	to{
		margin-left: 110%;
	}
}

@-webkit-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}

@-moz-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}
@-o-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}
@-ms-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}
@keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}


