//ANIMATIONS
@-webkit-keyframes 'spina'{
	0%{
		@include vendorize(transform, translate(0px, 0px));
	}
	100%{
		@include vendorize(transform, translate(0px, 10px));
	}
}

@-webkit-keyframes 'spinb'{
	0%{
		@include vendorize(transform, translate(0px, 10px));
	}
	100%{
		@include vendorize(transform, translate(0px, 0px));
	}
}

@-o-keyframes 'spina'{
	0%{
		@include vendorize(transform, translate(0px, 0px));
	}
	100%{
		@include vendorize(transform, translate(0px, 10px));
	}
}

@-o-keyframes 'spinb'{
	0%{
		@include vendorize(transform, translate(0px, 10px));
	}
	100%{
		@include vendorize(transform, translate(0px, 0px));
	}
}

@-ms-keyframes 'spina'{
	0%{
		@include vendorize(transform, translate(0px, 0px));
	}
	100%{
		@include vendorize(transform, translate(0px, 10px));
	}
}

@-ms-keyframes 'spinb'{
	0%{
		@include vendorize(transform, translate(0px, 10px));
	}
	100%{
		@include vendorize(transform, translate(0px, 0px));
	}
}

@keyframes 'spina'{
	0%{
		@include vendorize(transform, translate(0px, 0px));
	}
	100%{
		@include vendorize(transform, translate(0px, 10px));
	}
}

@keyframes 'spinb'{
	0%{
		@include vendorize(transform, translate(0px, 10px));
	}
	100%{
		@include vendorize(transform, translate(0px, 0px));
	}
}



@-webkit-keyframes 'scale' {
	0%{
		@include vendorize(transform, translateZ(0px));
		margin-top: 15%;
	}
	100%{
		@include vendorize(transform, translateZ(400px));
		margin-top: 5%;
	}
}

@-o-keyframes 'scale' {
	0%{
		@include vendorize(transform, translateZ(0px));
		margin-top: 15%;
	}
	100%{
		@include vendorize(transform, translateZ(400px));
		margin-top: 5%;
	}
}

@-ms-keyframes 'scale' {
	0%{
		@include vendorize(transform, translateZ(0px));
		margin-top: 15%;
	}
	100%{
		@include vendorize(transform, translateZ(400px));
		margin-top: 5%;
	}
}

@-webkit-keyframes 'scale' {
	0%{
		@include vendorize(transform, translateZ(0px));
		margin-top: 15%;
	}
	100%{
		@include vendorize(transform, translateZ(400px));
		margin-top: 5%;
	}
}


