
@import '_mixins.css.scss';
@import '_colors.css.scss';
@import '_fonts.css.scss';
@import '_animation.css.scss';


html{
	font-family: bit, karla, 'Helvetica Neue', helvetica, sans-serif;
	height: 100%;
}


body{
	margin: 0;
	-webkit-font-smoothing: antialiased;
	vertical-align: baseline;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
	background-color: black;
	@include vendorize(box-sizing, border-box);
	-webkit-overflow-scrolling: touch;
}

h1 {
	text-transform: uppercase;
	@include boxy;
	background-color: $gray;
	color: black;
	width: 70%;
	margin: auto;
	margin-top: 48px;
	margin-bottom: 48px;
	text-align: center;
	line-height: 1;
	padding: 10px;
	font-size: 3.5em;
	&.colors{
		background-color: black;
		color:$gray;
	}

}

h2{
	font-size: 2.5em;
	color:$gray;
}

p{
	letter-spacing: -1px;
	font-family: karla, 'Helvetica Neue', helvetica, sans-serif;
	line-height: 1.5;
	font-size: 1.7em;
	color: $gray;
}

a.pulldown{
	text-decoration: none;
	display: none;
	li{
		width: 80%;
		margin-left: 10%;
		height: auto;
		text-align: center;
		font-size: 1em;
		list-style-type: none;
	}
}



.spinner{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: white;
	z-index: 99;
	.load-text{
		margin-top: 5%;
		width: 50%;
		margin-left: 25%;
		text-align: center;
		font-size: 2em;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
		span{
			color: black;
			&.bounce{
				@include vendorize(animation, 'spina' 1s infinite alternate);
			}
			&.bounce2{
				@include vendorize(animation, 'spinb' 1s infinite alternate);
			}
		}
	}
}




h1,h2,h3,h4{
	text-transform: uppercase;
	text-align: center;
}



li{
	font-family: 'Helvetica Neue', helvetica, sans-serif;
	border: 2px solid $gray;
	color: $gray;
	background-color: black;
	font-size: 0.8em;
	width: 110px;
	height: 20px;
	margin: 5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
	&:hover{
		background-color: $gray;
		color:black;
		&.unreleased{
			background-color: $red;
			border: 2px solid $red;
		}
	}
	&.active{
		background-color: $gray;
		color: black;
		&.unreleased{
			background-color: $red;
			border: 2px solid $red;
		}
	}
	&:first-child{
		padding-left: 0;
	}
}




.startscreen{
	background-color: black;
	position: relative;
	margin: 0;
	width: 100%;
	height: auto;
	min-height: 800px;
	display: block;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 2;
	#titlevideo{
		position: absolute;
		min-width: 100%;
		height: 100%;
		margin: 0;
		border: 0;
		top: 0;
		left: 0;
	}
	.title{
		width: 100%;
		height: 800px;
		top: 0;
		position: absolute;
		text-align: center;
		z-index: 9;
		img{
			margin-top: 6.25%;
			width: 80%;
			-webkit-transform: translateZ(0px);
			-webkit-transform-style: preserve-3d;
		}
	}
}
	
.videos{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 2;
	background-color: black;
	padding-bottom: 48px;
	border-bottom: 1px solid $gray;
	#myExperience{
		@include boxy;
		opacity: 0;
	}
	.video-nav{
		margin-top: 48px;
		ul{
			width: 90%;
			margin-left: 5%;
			text-align: center;
			list-style-type: none;
			padding: 0;
			a{
				li{
					display: inline-block;
				}
			}
		}
	
		p.body{
			text-align: center;
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
		}
	}
}



.composers{
		padding-top: 48px;
		padding-bottom: 48px;
		border-bottom: 1px solid $gray;
		width: 100%;
		z-index: 2;
		position: relative;
		overflow: hidden !important;
		height: auto;
		background-color: black;
		.composers-wrap{
			margin-top: 5%;
			width: 100%;
			height: 100%;
			.slide{
				width: 100%;
				display: block;
				height: 100%;
				position: relative;
				text-align: center;
				display: none;
				&.active{
					display: block;
				}
				.img-wrap{
					width: 100%;
					height: auto;
					overflow: hidden;
					img{
						max-width: 56%; /*80% of 70%*/
						width: 56%;
						height: auto;
					}
					.arrow-right{
						z-index: 909;
						position: absolute;
						top: 25%;
						right: 20px;
						width: 10%;
						height: 10%;
						background: url(../img/arrow-white.svg) no-repeat center center;
						background-size: cover;
						@include vendorize(transition, all .2s ease-in-out);
						&:hover{
							right: 15px;
						}
					}
					.arrow-left{
						z-index: 909;
						position: absolute;
						top: 25%;
						left: 20px;
						width: 10%;
						height: 10%;
						background: url(../img/arrow-white.svg) no-repeat center center;
						background-size: cover;
						@include vendorize(transform, rotate(180deg));
						@include vendorize(transition, all .2s ease-in-out);
						&:hover{
							left: 15px;
						}
					}
				}
				
				p{
					width: 70%;
					margin-left: 15%;
				}
			}
		}
	}



.radio{
	margin: 0;
	padding-top: 48px;
	z-index: 2;
	padding-bottom: 48px;
	border-bottom: 1px solid $gray;
	.show{
		width: 70%;
		padding-bottom: 10%;
		margin-top: 5%;
		margin-left: 15%;
		img{
			width: 80%;
			margin-left: 10%;
			@include boxy;
		}
		iframe{
			width: 80%;
			margin: 0 10% 5% 10%;
			@include boxy;
			-webkit-filter: grayscale(1);
		}
	}
}

.stories{
	position: relative;
	padding-top: 48px;
	padding-bottom: 96px;
	z-index: 2;
	.story-nav{
		ul{
			width: 90%;
			margin-left: 5%;
			text-align: center;
			list-style-type: none;
			padding: 0;
			a{
				li{
					display: inline-block;
					width: 150px;
				}
			}
		}
	}
	iframe{
		margin-left: 20%;
		box-shadow: 5px 5px 5px #030102;
		border: 0;
		border: none;
		display: none;
		@include boxy;
	}
	p.body{
		text-align: center;
		width: 70%;
		margin: 48px 15% 48px 15%;
	}
}

footer{
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	font-weight: bold;
	background-color: white;

	p{
		width: 70%;
		margin-left: 15%;
		color: black;
	}
}












@media screen and (min-width: 768px) and (max-width: 1024px), all and (min-device-width: 768px) and (max-device-width: 1024px){

	h1 {
		font-size: 3.5em;
		width: 70%;
	}


	p{
		line-height: 1.5;
		font-size: 1.7em;
	}



	a.pulldown{
		display: none;
		li{
			width: 80%;
			margin-left: 10%;
			height: auto;
			text-align: center;
			font-size: 1em;
		}
	}


	li{
		font-size: 0.8em;
		width: 110px;
		height: 20px;
		line-height: 20px;
	}




	.startscreen{
		overflow: hidden;
		min-height: 950px;
		.start-image{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			min-width: 100%;
			background: url(../img/static-title.jpg) no-repeat center center;
			background-size: cover;
		}
			
		#titlevideo{
			display: none;
		}
		.title{
			width: contain;
			height: contain;
			img{
				margin-top: 36.25%;
				width: 80%;
			}
		}
	}

	.videos{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		#myExperience{
			display: block !important;
			@include smallboxy;
			opacity: 1;
		}
		.video-nav{
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 70%;
					margin-left: 15%;
					height: auto;
					text-align: center;
					font-size: 1em;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 70%;
				margin-left: 15%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						margin-left: 0;
						width: 100%;
						text-align: center;
						margin-top: 10px;
						font-size: 1em;
					}
				}
			}
		}
		iframe{
			margin-left: 20%;
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}



	.composers{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		.composers-wrap{
			.slide{
				display: none;
				&.active{
					display: block;
				}
				.img-wrap{
					.arrow-right{
						top: 25%;
						right: 20px;
						width: 10%;
						height: 10%;
						&:hover{
							right: 15px;
						}
					}
					.arrow-left{
						top: 25%;
						left: 20px;
						width: 10%;
						height: 10%;
					}
				}
			}
		}
	}



	.radio{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.show{
			width: 70%;
			padding-bottom: 10%;
			margin-top: 5%;
			margin-left: 15%;
			img{
				width: 100%;
				margin-left: 0;
				@include smallboxy;
			}
			iframe{
				width: 100%;
				margin: 0 0 5% 0;
				@include smallboxy;
			}
		}
	}

	.stories{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.story-nav{
			margin-top: 48px;
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 80%;
					margin-left: 10%;
					height: auto;
					text-align: center;
					font-size: 1em;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 80%;
				margin-left: 10%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						width: 100%;
						font-size: 1em;
						height: auto;
						margin: 0;
						margin-top: 10px;
					}
				}
			}
		}
		iframe{
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}

}









@media screen and (max-width: 1024px){

	h1 {
		font-size: 3.5em;
		width: 70%;
	}


	p{
		line-height: 1.5;
		font-size: 1.7em;
	}



	a.pulldown{
		display: none;
		li{
			width: 80%;
			margin-left: 10%;
			height: auto;
			text-align: center;
			font-size: 1em;
		}
	}


	li{
		font-size: 0.8em;
		width: 110px;
		height: 20px;
		line-height: 20px;
	}




	.startscreen{
		overflow: hidden;
		min-height: 950px;
		.start-image{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			min-width: 100%;
			background: url(../img/static-title.jpg) no-repeat center center;
			background-size: cover;
		}
			
		#titlevideo{
			display: none;
		}
		.title{
			width: contain;
			height: contain;
			img{
				margin-top: 26.25%;
				width: 80%;
			}
		}
	}

	.videos{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		#myExperience{
			display: block !important;
			@include smallboxy;
			opacity: 1;
		}
		.video-nav{
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 70%;
					margin-left: 15%;
					height: auto;
					text-align: center;
					font-size: 1em;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 70%;
				margin-left: 15%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						margin-left: 0;
						width: 100%;
						text-align: center;
						margin-top: 10px;
						font-size: 1em;
					}
				}
			}
		}
		iframe{
			margin-left: 20%;
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}



	.composers{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		.composers-wrap{
			.slide{
				display: none;
				&.active{
					display: block;
				}
				.img-wrap{
					.arrow-right{
						top: 25%;
						right: 20px;
						width: 10%;
						height: 10%;
						&:hover{
							right: 15px;
						}
					}
					.arrow-left{
						top: 25%;
						left: 20px;
						width: 10%;
						height: 10%;
					}
				}
			}
		}
	}



	.radio{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.show{
			width: 70%;
			padding-bottom: 10%;
			margin-top: 5%;
			margin-left: 15%;
			img{
				width: 100%;
				margin-left: 0;
				@include smallboxy;
			}
			iframe{
				width: 100%;
				margin: 0 0 5% 0;
				@include smallboxy;
			}
		}
	}

	.stories{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.story-nav{
			margin-top: 48px;
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 80%;
					margin-left: 10%;
					height: auto;
					text-align: center;
					font-size: 1em;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 80%;
				margin-left: 10%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						width: 100%;
						font-size: 1em;
						height: auto;
						margin: 0;
						margin-top: 10px;
					}
				}
			}
		}
		iframe{
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}

}









@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){

	h1 {
		font-size: 3.5em;
		width: 70%;
	}


	p{
		line-height: 1.5;
		font-size: 1.7em;
	}



	a.pulldown{
		display: none;
		li{
			width: 80%;
			margin-left: 10%;
			height: auto;
			text-align: center;
			font-size: 1em;
		}
	}


	li{
		font-size: 0.8em;
		width: 110px;
		height: 20px;
		line-height: 20px;
	}




	.startscreen{
		overflow: hidden;
		min-height: 950px;
		.start-image{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			min-width: 100%;
			background: url(../img/static-title.jpg) no-repeat center center;
			background-size: cover;
		}
			
		#titlevideo{
			display: none;
		}
		.title{
			width: contain;
			height: contain;
			img{
				margin-top: 36.25%;
				width: 80%;
			}
		}
	}

	.videos{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		#myExperience{
			display: block !important;
			@include smallboxy;
			opacity: 1;
		}
		.video-nav{
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 70%;
					margin-left: 15%;
					height: auto;
					text-align: center;
					font-size: 1em;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 70%;
				margin-left: 15%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						margin-left: 0;
						width: 100%;
						text-align: center;
						margin-top: 10px;
						font-size: 1em;
					}
				}
			}
		}
		iframe{
			margin-left: 20%;
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}



	.composers{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		.composers-wrap{
			.slide{
				display: none;
				&.active{
					display: block;
				}
				.img-wrap{
					.arrow-right{
						top: 25%;
						right: 20px;
						width: 10%;
						height: 10%;
						&:hover{
							right: 15px;
						}
					}
					.arrow-left{
						top: 25%;
						left: 20px;
						width: 10%;
						height: 10%;
					}
				}
			}
		}
	}



	.radio{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.show{
			width: 70%;
			padding-bottom: 10%;
			margin-top: 5%;
			margin-left: 15%;
			img{
				width: 100%;
				margin-left: 0;
				@include smallboxy;
			}
			iframe{
				width: 100%;
				margin: 0 0 5% 0;
				@include smallboxy;
			}
		}
	}

	.stories{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.story-nav{
			margin-top: 48px;
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 80%;
					margin-left: 10%;
					height: auto;
					text-align: center;
					font-size: 1em;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 80%;
				margin-left: 10%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						width: 100%;
						font-size: 1em;
						height: auto;
						margin: 0;
						margin-top: 10px;
					}
				}
			}
		}
		iframe{
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}

}














@media screen and (max-width: 568px), screen and (min-device-width: 320px) and (max-device-width: 568px){
	h1 {
		font-size: 2.5em;
		width: 70%;
	}


	p{
		line-height: 1.5;
		font-size: 1.2em;
	}



	a.pulldown{
		display: none;
		li{
			width: 80%;
			margin-left: 10%;
			height: auto;
			text-align: center;
			font-size: 0.6em;
			font-weight: normal;
		}
	}


	li{
		font-size: 0.6em;
		font-weight: normal;
		width: 110px;
		height: 15px;
		line-height: 15px;
	}




	.startscreen{
		overflow: hidden;
		min-height: 500px;
		.start-image{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			min-width: 100%;
			background: url(../img/static-title.jpg) no-repeat center center;
			background-size: cover;
		}
			
		#titlevideo{
			display: none;
		}
		.title{
			width: contain;
			height: contain;
			img{
				margin-top: 36.25%;
				width: 90%;
			}
		}
	}

	.videos{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		#myExperience{
			display: block !important;
			@include smallboxy;
			opacity: 1;
		}
		.video-nav{
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 70%;
					margin-left: 15%;
					height: auto;
					text-align: center;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 70%;
				margin-left: 15%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						margin-left: 0;
						width: 100%;
						text-align: center;
						margin-top: 10px;
					}
				}
			}
		}
		iframe{
			margin-left: 20%;
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}



	.composers{
		padding-bottom: 10%;
		padding-bottom: 10%;
		border-bottom: 1px solid $gray;
		.composers-wrap{
			.slide{
				display: none;
				&.active{
					display: block;
				}
				.img-wrap{
					width: 100%;
					margin-left:0;
					.arrow-right{
						top: 10%;
						right: 20px;
						width: 10%;
						height: 10%;
						&:hover{
							right: 15px;
						}
					}
					.arrow-left{
						top: 10%;
						left: 20px;
						width: 10%;
						height: 10%;
					}
				}
				h2{
					width: 90%;
					margin-left: 5%;
					font-size: 1.5em;
				}
				p{
					width:90%;
					margin-left: 5%;
					text-align: left;
				}
			}
		}
	}



	.radio{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.show{
			width: 90%;
			padding-bottom: 10%;
			margin-top: 5%;
			margin-left: 5%;
			img{
				width: 96%;
				margin-left: 2%;
				@include smallboxy;
			}
			iframe{
				max-width: 96%;
				width: 96%;
				margin: 0 2% 5% 2%;
				@include smallboxy;
			}
		}
	}

	.stories{
		padding-bottom: 10%;
		padding-bottom: 10%;
		.story-nav{
			margin-top: 48px;
			a.pulldown{
				text-decoration: none;
				display: block;
				li{
					width: 80%;
					margin-left: 10%;
					height: auto;
					text-align: center;
					font-size: 1em;
					list-style-type: none;
				}
			}
			ul{
				display: none;
				width: 80%;
				margin-left: 10%;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					text-decoration: none;
					li{
						display: block;
						width: 100%;
						font-size: 1em;
						height: auto;
						margin: 0;
						margin-top: 10px;
					}
				}
			}
		}
		iframe{
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}

}



@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape){
	.startscreen{
		overflow: hidden;
		min-height: 300px;
			
		.title{
			width: contain;
			height: contain;
			img{
				margin-top: 3.25%;
				width: 90%;
			}
		}
	}

	.videos{
		#myExperience{
			display: block !important;
			opacity: 1;
			@include smallboxy;
		}
		iframe{
			margin-left: 20%;
			border: 0;
			border: none;
			display: none;
			@include smallboxy;
		}
	}

}



























