@-webkit-keyframes 'spina' {
  from {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

  to {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px); } }
@-webkit-keyframes 'spinb' {
  from {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px); }

  to {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes 'spina' {
  from {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

  to {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px); } }
@keyframes 'spinb' {
  from {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px); }

  to {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-webkit-keyframes 'slide' {
  from {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px); }

  to {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes 'slide' {
  from {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px); }

  to {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@font-face {
  font-family: 'karla';
  src: url(../fonts/karla-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'karla';
  src: url(../fonts/karla-bold-webfont.woff) format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: clan;
  src: url("../fonts/clanpro-narrultra-webfont.eot");
  src: url("../fonts/clanpro-narrultra-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clanpro-narrultra-webfont.woff") format("woff"), url("../fonts/clanpro-narrultra-webfont.ttf") format("truetype"), url("../fonts/clanpro-narrultra-webfont.svg#clan_pronarrow_ultra") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: bit;
  src: url("../fonts/brokeren-webfont.eot");
  src: url("../fonts/brokeren-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brokeren-webfont.woff") format("woff"), url("../fonts/brokeren-webfont.ttf") format("truetype"), url("../fonts/brokeren-webfont.svg#8bit_wondernominal") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  font-family: bit, karla, 'Helvetica Neue', helvetica, sans-serif;
  background-color: #14110d; }

.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #14110d;
  z-index: 99; }
  .spinner .load-text {
    margin-top: 25%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 2em; }
    .spinner .load-text span {
      color: #ff6dd1; }
      .spinner .load-text span.bounce {
        -webkit-animation: 'spina' 1s infinite alternate; }
      .spinner .load-text span.bounce2 {
        -webkit-animation: 'spinb' 1s infinite alternate; }

h1, h2, h3, h4 {
  text-transform: uppercase;
  text-align: center; }

h1 {
  letter-spacing: -2px;
  line-height: 1;
  color: white;
  font-size: 4em; }

h2 {
  font-size: 4em;
  margin: 0;
  text-decoration: underline;
  font-family: '8bit'; }

hr {
  width: 25%;
  height: 5px;
  border: none;
  border: 0;
  background-color: #00ffef; }

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  color: white;
  z-index: 9; }
  .content .startscreen {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .content .startscreen video {
      z-index: 0;
      position: absolute;
      width: 100%;
      margin: 0;
      border: 0;
      border: none; }
    .content .startscreen .title {
      margin-top: 0;
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      text-align: center;
      z-index: 9; }
      .content .startscreen .title h1 {
        margin-top: 10%;
        -webkit-text-stroke: 1px #00ffef;
        -moz-text-stroke: 1px #00ffef;
        -ms-text-stroke: 1px #00ffef;
        -o-text-stroke: 1px #00ffef;
        text-stroke: 1px #00ffef; }
  .content .videos {
    position: relative;
    margin-top: 65%; }
    .content .videos .video-nav ul {
      text-align: center; }
      .content .videos .video-nav ul a li {
        display: inline-block;
        font-size: 1em;
        padding: 5px;
        font-size: 1.5em;
        color: white;
        font-family: karla; }
        .content .videos .video-nav ul a li:hover {
          background-color: #00ffef;
          color: #14110d; }
        .content .videos .video-nav ul a li.active {
          background-color: #00ffef;
          color: #14110d; }
    .content .videos iframe {
      margin-left: 20%;
      margin-bottom: 20px;
      box-shadow: 5px 5px 5px #030102;
      border: 0;
      border: none;
      box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d; }
    .content .videos p.body {
      text-align: center;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      color: white;
      font-family: karla, 'Helvetica Neue', helvetica, sans-serif;
      font-size: 1.5em;
      line-height: 2; }
  .content .composers {
    position: relative;
    margin-top: 200%;
    margin-top: 20%;
    margin-bottom: 200px;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d; }
    .content .composers a {
      text-decoration: none;
      color: white; }
      .content .composers a .composer-wrapper {
        padding: 10px;
        background: url(../img/upanddown.gif) no-repeat center center;
        background-size: cover;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .content .composers a .composer-wrapper h1 {
          color: white;
          margin: 0; }
        .content .composers a .composer-wrapper p {
          margin: 0; }
        .content .composers a .composer-wrapper:hover {
          background: #00ffef; }
    .content .composers .game-icons {
      display: inline-block;
      width: 100%;
      text-align: center;
      left: 0;
      -webkit-animation: jet 25s inifinite alternate; }

.composer-data {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #14110d;
  z-index: 9999; }
  .composer-data canvas {
    top: 0;
    left: 0;
    z-index: -2;
    background-color: transparent; }
  .composer-data .data-container {
    position: absolute;
    z-index: 99;
    width: 102%;
    height: 100%;
    overflow: auto;
    top: 0;
    padding-top: 40px;
    left: 0;
    z-index: 99999;
    color: white; }
    .composer-data .data-container .artist {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 100px; }
      .composer-data .data-container .artist h1 {
        color: white; }
      .composer-data .data-container .artist p {
        width: 100%;
        font-family: karla, helvetica, sans-serif;
        font-weight: lighter;
        font-size: 1.5em;
        line-height: 2; }
      .composer-data .data-container .artist img {
        margin-left: 25%;
        width: 50%;
        height: auto;
        box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d; }
      .composer-data .data-container .artist:last-child {
        border-bottom: none; }
  .composer-data .exit {
    position: absolute;
    z-index: 9999999999999;
    top: 20px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: url(../img/exit.svg) no-repeat center center;
    background-color: white;
    background-size: contain;
    box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d; }
    .composer-data .exit:hover {
      -webkit-transform: translate(3px, 3px);
      -moz-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
      -o-transform: translate(3px, 3px);
      transform: translate(3px, 3px);
      box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d; }

.radio {
  margin: 0;
  z-index: 1; }
  .radio .show {
    width: 70%;
    margin-bottom: 10%;
    margin-left: 15%; }
    .radio .show img {
      width: 80%;
      margin-left: 10%;
      box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d; }
    .radio .show iframe {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 5%;
      box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d; }
    .radio .show p {
      font-family: karla;
      font-size: 1.5em;
      line-height: 2;
      color: white; }

.stories {
  position: relative;
  margin-top: 20%;
  margin-bottom: 200px; }
  .stories .story-nav ul {
    text-align: center; }
    .stories .story-nav ul a li {
      display: inline-block;
      font-size: 1em;
      padding: 15px;
      font-size: 1.5em;
      color: white;
      font-family: karla; }
      .stories .story-nav ul a li:hover {
        background-color: #00ffef;
        color: #14110d; }
      .stories .story-nav ul a li.active {
        background-color: #00ffef;
        color: #14110d; }
  .stories iframe {
    margin-left: 20%;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #030102;
    border: 0;
    border: none;
    box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d; }
  .stories p.body {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    font-family: karla, 'Helvetica Neue', helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 2; }
