
@import '_mixins.css.scss';
@import '_colors.css.scss';
@import '_fonts.css.scss';
@import '_animation.css.scss';



html{
	font-family: sans-serif;
}

body{
	margin: 0;
	font-family: bit, karla, 'Helvetica Neue', helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	vertical-align: baseline;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
	background: url(../img/mega.jpg) no-repeat bottom center;
	background-size: cover;
	background-attachment: fixed;
	background-color: black;
}

p{
	color: $black;
}

.spinner{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $black;
	z-index: 99;
	.load-text{
		margin-top: 25%;
		width: 50%;
		margin-left: 25%;
		text-align: center;
		font-size: 2em;
		span{
			color: $red;
			&.bounce{
				-webkit-animation: 'spina' 1s infinite alternate;
			}
			&.bounce2{
				-webkit-animation: 'spinb' 1s infinite alternate;
			}
		}
	}
}




h1,h2,h3,h4{
	text-transform: uppercase;
	text-align: center;
}

h1{
	letter-spacing: -1px;
	line-height: 1;
	text-transform: uppercase;
	font-size: 3.5em;
	margin: 0;
}



.path{
	-webkit-transform: translate3d(0, 0, 0px);
	stroke-dasharray: 10000;
	stroke-dashoffset: 10000;
	-webkit-animation: dash 40s linear;
	-moz-animation: dash 40s linear;
	-ms-animation: dash 40s linear;
	-o-animation: dash 40s linear;
	animation: dash 40s linear;
	stroke-width: 2px;
	stroke: white;
	background-color: white;
	margin: 0;
}

@-webkit-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}

@-moz-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}
@-o-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}
@-ms-keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}
@keyframes dash{
	to{
		stroke-dashoffset: 0;
	}
}


.cloud1{
	position: fixed;
	top: 40px;
	margin-left: -30%;
	width: 250px;
	height: 200px;
	background: transparent url(../img/cloud1.png) no-repeat left top;
	overflow: hidden;
	-webkit-animation: 'cloud' 30s infinite linear;
	@include vendorize(transform, translate3d(0px, 0px, 0));
	z-index: -1;
}

.cloud2{
	position: fixed;
	top: 180px;
	margin-left: -30%;
	width: 250px;
	height: 200px;
	background: transparent url(../img/cloud2.png) no-repeat left top;
	overflow: hidden;
	-webkit-animation: 'cloudtwo' 35s infinite linear;
	@include vendorize(transform, translate3d(0px, 0px, 0));
	z-index: -1;
}



.content{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	left: 0;
	color: white;
	z-index: 9;
	.startscreen{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		video{
			display: block;
			z-index: 0;
			position: absolute;
			width: 100%;
			margin: 0;
			border: 0;
			border: none;
		}
		.title{
			margin-top: 0;
			width: 100%;
			height: 100%;
			top: 0;
			position: absolute;
			text-align: center;
			z-index: 9;
			img{
				width: 20%;
			}
			h1{
				margin-top: 0;
				width: 80%;
				color: $pink;
				margin-left: 10%;
				padding-top: 25px;
				padding-bottom: 25px;
				background-color: $black;
				box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
			}
			h2{
				margin: 0;
			}
		}
	}
	.videos{
		position: relative;
		margin-top: 65%;
		width: 100%;
		.video-wrapper{
			position: relative;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
			background-color: $black;
			text-align: center;
			width: 70%;
			margin-left: 15%;
			height: auto;
			padding-top: 25px;
			padding-bottom: 25px;
			h1{
				color: $pink;
			}
		}
		
		.video-nav{
			margin-top: 40px;
			ul{
				width: 80%;
				margin-left: 10%;
				
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					li{
						display: inline-block;
						font-size: 1.5em;
						margin: 5px;
						padding: 5px;
						color: white;
						background-color: $blue;
						text-transform: uppercase;
						font-family: karla;
						@include vendorize(border-radius, 5px);
						&:first-child{
							margin-left: 0;
						}
						&:hover{
							background-color: $pink;
							color: $black;
						}
						&.active{
							background-color: $pink;
							color: $black;
						}
					}
				}
			}
		}
		iframe{
			margin-left: 20%;
			margin-bottom: 20px;
			border: 0;
			border: none;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		}
		p.body{
			text-align: center;
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
			font-family: karla, 'Helvetica Neue', helvetica, sans-serif;
			font-size: 1.5em;
			line-height: 2;
		}
	}

	.composers{
		margin-top: 10%;
		width: 70%;
		margin-left: 15%;
		padding-bottom: 16px;
		
		a{
			text-decoration: none;
			color: white;
			.composer-wrapper{
				position: relative;
				box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
				padding: 25px;
				background-color: $black;
				color: $pink;
				text-align: center;
				h1{
					margin: 0;
					
				}
				p{
					margin: 0;
				}
				&:hover{
					background-color: $blue;
				}
			}
		}
	}
}

.composer-page{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	canvas{
		top: 0;
		position: fixed;
		left: 0;
		z-index: -2;
		background: white;
	}

	.data-container{
		position: relative;
		z-index: 99;
		width: 100%;
		height: 100%;
		overflow: auto;
		top: 0;
		padding-top: 40px;
		left: 0;
		z-index: 99999;
		color: white;
		.artist{
			width: 80%;
			margin-left: 10%;
			margin-bottom: 100px;
			h1{
				color: $black;
				margin-top: 20px;
			}
			p{
				width: 100%;
				font-family: karla, helvetica, sans-serif;
				font-weight: lighter;
				font-size: 1.5em;
				line-height: 2;
			}
			img{
				margin-left: 25%;
				width: 50%;
				height: auto;
				box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
			
	.exit{
		position: fixed;
		z-index: 9999999999999;
		top: 20px;
		right: 40px;
		width: 50px;
		height: 50px;
		background: url(../img/exit.svg) no-repeat center center;
		background-color: white;
		background-size: contain;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		&:hover{
			@include vendorize(transform, translate(3px, 3px));
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d;
		}
	}



}


.radio{
	margin: 0;
	margin-top: 10%;
	z-index: 1;
	.radio-wrapper{
		position: relative;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		background-color: $black;
		text-align: center;
		width: 20%;
		margin-left: 40%;
		height: auto;
		padding-top: 25px;
		padding-bottom: 25px;
		h1{
			margin: 0;
			color: $pink;

		}

	}
	
	.show{
		width: 70%;
		margin-bottom: 10%;
		margin-top: 40px;
		margin-left: 15%;
		img{
			width: 80%;
			margin-left: 10%;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		}
		iframe{
			width: 80%;
			margin-left: 10%;
			margin-bottom: 5%;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		}
		p{
			font-family: karla;
			font-size: 1.5em;
			line-height: 2;
			background-color: black;
			color: $pink;
			padding: 20px;
			border: 1px solid $pink;
		}
	}
}

.stories{
	position: relative;
	margin-top: 10%;
	margin-bottom: 400px;
	.story-wrapper{
		position: relative;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		background-color: $black;
		text-align: center;
		width: 20%;
		margin-left: 40%;
		height: auto;
		padding-top: 25px;
		padding-bottom: 25px;
		h1{
			color: $pink;
			font-size: 3em;
		}
	}
	.story-nav{
		margin-top: 40px;
		ul{
			text-align: center;
			list-style-type: none;
			padding: 0;
			a{
				li{
					display: inline-block;
					padding: 5px;
					margin: 5px;
					font-size: 1.5em;
					color: white;
					background-color: $blue;
					font-family: karla;
					@include vendorize(border-radius, 5px);
					&:hover{
						background-color: $pink;
						color: $black;
					}
					&.active{
						background-color: $pink;
						color: $black;
					}
				}
			}
		}
	}
	iframe{
		margin-left: 20%;
		margin-bottom: 20px;
		box-shadow: 5px 5px 5px #030102;
		border: 0;
		border: none;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
	}
	p.body{
		text-align: center;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		font-family: karla, 'Helvetica Neue', helvetica, sans-serif;
		font-size: 1.5em;
		line-height: 2;
		background-color: $black;
		border: 1px solid $pink;
		color: $pink;
		padding: 20px;
	}
}





















@media screen and (max-width: 700px), screen and (max-device-width: 700px){
	h1{
		font-size: 2.5em;
	}
	.content{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	left: 0;
	color: white;
	z-index: 9;
	.startscreen{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		min-height: 568px;
		video{
			display: block;
			z-index: 0;
			position: absolute;
			width: 250%;
			overflow: hidden;
			margin: 0;
			border: 0;
			border: none;
		}
		.title{
			margin-top: 20%;
			width: 100%;
			height: 100%;
			top: 0;
			position: absolute;
			text-align: center;
			z-index: 9;
			img{
				width: 20%;
			}
			h1{
				margin-top: 0;
				width: 80%;
				color: $pink;
				margin-left: 10%;
				padding-top: 25px;
				padding-bottom: 25px;
				background-color: $black;
				box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
			}
			h2{
				margin: 0;
			}
		}
	}
	.videos{
		position: relative;
		margin-top: 45%;
		width: 100%;
		.video-wrapper{
			position: relative;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
			background-color: $black;
			text-align: center;
			width: 90%;
			margin-left: 5%;
			height: auto;
			padding-top: 25px;
			padding-bottom: 25px;
			h1{
				color: $pink;
			}
		}
		
		.video-nav{
			ul{
				width: 80%;
				margin-left: 10%;
				margin-top: 20px;
				text-align: center;
				list-style-type: none;
				padding: 0;
				a{
					li{
						display: inline-block;
						font-size: 1.5em;
						margin: 5px;
						padding: 5px;
						color: white;
						background-color: $blue;
						text-transform: uppercase;
						font-family: karla;
						@include vendorize(border-radius, 5px);
						&:first-child{
							margin-left: 0;
						}
						&:hover{
							background-color: $pink;
							color: $black;
						}
						&.active{
							background-color: $pink;
							color: $black;
						}
					}
				}
			}
		}
		iframe{
			margin-left: 20%;
			margin-bottom: 20px;
			border: 0;
			border: none;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		}
		p.body{
			text-align: center;
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
			font-family: karla, 'Helvetica Neue', helvetica, sans-serif;
			font-size: 1.5em;
			line-height: 2;
		}
	}

	.composers{
		margin-top: 10%;
		width: 90%;
		margin-left: 5%;
		padding-bottom: 16px;
		
		a{
			text-decoration: none;
			color: white;
			.composer-wrapper{
				position: relative;
				box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
				padding: 25px;
				background-color: $black;
				color: $pink;
				text-align: center;
				h1{
					margin: 0;
					
				}
				p{
					margin: 0;
				}
				&:hover{
					background-color: $blue;
				}
			}
		}
	}
}

.composer-page{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	canvas{
		top: 0;
		position: fixed;
		left: 0;
		z-index: -2;
		background: white;
	}

	.data-container{
		position: relative;
		z-index: 99;
		width: 100%;
		height: 100%;
		overflow: auto;
		top: 0;
		padding-top: 40px;
		left: 0;
		z-index: 99999;
		color: white;
		.artist{
			width: 80%;
			margin-left: 10%;
			margin-bottom: 100px;
			h1{
				color: $black;
				margin-top: 20px;
			}
			p{
				width: 100%;
				font-family: karla, helvetica, sans-serif;
				font-weight: lighter;
				font-size: 1.5em;
				line-height: 2;
			}
			img{
				margin-left: 25%;
				width: 50%;
				height: auto;
				box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
			
	.exit{
		position: fixed;
		z-index: 9999999999999;
		top: 20px;
		right: 40px;
		width: 50px;
		height: 50px;
		background: url(../img/exit.svg) no-repeat center center;
		background-color: white;
		background-size: contain;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		&:hover{
			@include vendorize(transform, translate(3px, 3px));
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d;
		}
	}



}


.radio{
	margin: 0;
	margin-top: 10%;
	z-index: 1;
	.radio-wrapper{
		position: relative;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		background-color: $black;
		text-align: center;
		width: 90%;
		margin-left: 5%;
		height: auto;
		padding-top: 25px;
		padding-bottom: 25px;
		h1{
			margin: 0;
			color: $pink;

		}

	}
	
	.show{
		width: 90%;
		margin-bottom: 10%;
		margin-top: 40px;
		margin-left: 5%;
		img{
			width: 90%;
			margin-left: 5%;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		}
		iframe{
			width: 90%;
			margin-left: 5%;
			margin-bottom: 5%;
			box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		}
		p{
			font-family: karla;
			font-size: 1em;
			line-height: 1.5;
			background-color: black;
			color: $pink;
			padding: 20px;
			border: 1px solid $pink;
		}
	}
}

.stories{
	position: relative;
	margin-top: 10%;
	margin-bottom: 400px;
	.story-wrapper{
		position: relative;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
		background-color: $black;
		text-align: center;
		width: 90%;
		margin-left: 5%;
		height: auto;
		padding-top: 25px;
		padding-bottom: 25px;
		h1{
			color: $pink;
		}
	}
	.story-nav{
		ul{
			text-align: center;
			list-style-type: none;
			padding: 0;
			a{
				li{
					display: inline-block;
					padding: 5px;
					margin: 5px;
					font-size: 1.5em;
					color: white;
					background-color: $blue;
					font-family: karla;
					@include vendorize(border-radius, 5px);
					&:hover{
						background-color: $pink;
						color: $black;
					}
					&.active{
						background-color: $pink;
						color: $black;
					}
				}
			}
		}
	}
	iframe{
		margin-left: 20%;
		margin-bottom: 20px;
		box-shadow: 5px 5px 5px #030102;
		border: 0;
		border: none;
		box-shadow: 1px 0px 0px #4d4d4d, 0px 1px 0px #333333, 2px 1px 0px #4d4d4d, 1px 2px 0px #333333, 3px 2px 0px #4d4d4d, 2px 3px 0px #333333, 4px 3px 0px #4d4d4d, 3px 4px 0px #333333, 5px 4px 0px #4d4d4d, 4px 5px 0px #333333, 6px 5px 0px #4d4d4d, 5px 6px 0px #333333, 7px 6px 0px #4d4d4d, 6px 7px 0px #333333, 8px 7px 0px #4d4d4d, 7px 8px 0px #333333, 9px 8px 0px #4d4d4d, 8px 9px 0px #333333, 10px 9px 0px #4d4d4d, 9px 10px 0px #333333, 11px 10px 0px #4d4d4d, 10px 11px 0px #333333, 12px 11px 0px #4d4d4d, 11px 12px 0px #333333, 13px 12px 0px #4d4d4d, 12px 13px 0px #333333, 14px 13px 0px #4d4d4d, 13px 14px 0px #333333, 15px 14px 0px #4d4d4d, 14px 15px 0px #333333, 16px 15px 0px #4d4d4d, 15px 16px 0px #333333, 16px 16px 0px #4d4d4d;
	}
	p.body{
		text-align: center;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		font-family: karla, 'Helvetica Neue', helvetica, sans-serif;
		font-size: 1em;
		line-height: 1.5;
		background-color: $black;
		border: 1px solid $pink;
		color: $pink;
		padding: 20px;
	}
}




}

