doctype html
head
	title Diggin' In The Carts
	meta(charset="UTF-8")
	link(rel="stylesheet", type="text/css", href="css/beast.css")

body
	nav
	.wrapper
		.content
			h1 Diggin' In The Carts
			h3 A neew thing


	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(type="text/javascript", src="js/transit.min.js")
	script(src="js/beast.js", type="text/javascript")
