doctype html
head
	title Diggin' In The Carts
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no")
	link(rel="stylesheet", type="text/css", href="css/beast.css")


body
	.spinner
		.load-text
			span(class="bounce") L 
			span(class="bounce2") O 
			span(class="bounce") A 
			span(class="bounce2") D 
			span(class="bounce") I 
			span(class="bounce2") N 
			span(class="bounce") G 

	
	.startscreen
		.start-image
		video(autoplay muted loop, id="titlevideo")
			source(src="//dus8ti0yrnpxl.cloudfront.net/digging-carts/cart2.mp4", type="video/mp4")
			source(src="//dus8ti0yrnpxl.cloudfront.net/digging-carts/cart2.webm", type="video/webm")
			source(src="//dus8ti0yrnpxl.cloudfront.net/digging-carts/cart2.ogv", type="video/ogg")
			img(src="img/static-title.jpg" title="Your browser does not support HTML5 video")
		.title
			img(src="img/title-black.png", alt="Diggin' In The Carts")

					
	.videos
		a(id="videos")
		.video-wrapper
			h1 The Series
		div(id="player")
		.video-nav
			a(class="pulldown")
				li All Episodes
			ul(class="episode-list")
					

	.composers
		h1 Meet The Composers
		a(id="composers")
		.composers-wrap



	.radio
		.radio-wrapper
			h1 Video Game Mixes


	.stories
		a(id="stories")
		.story-wrapper
			h1 Hidden Levels
		div(id="storyplayer")
		p(class="body") Basic text about the video series should go here. Not very long.
		.story-nav
			a(class="pulldown")
				li All Episodes
			ul
		p Should we also have some ending text that talks about the next releases?
			


	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(type="text/javascript", src="http://admin.brightcove.com/js/BrightcoveExperiences.js")
	script(type="text/javascript", src="js/contentful.min.js")
	script(type="text/javascript", src="js/handlebars.js")
	script(type="text/javascript", src="js/showdown.js")
	script(type="text/javascript", src="js/moment.js")
	script(src="js/beast.js", type="text/javascript")



