doctype html
head
	title Diggin' In The Carts
	meta(charset="UTF-8")
	link(rel="stylesheet", type="text/css", href="css/beast.css")


body
	.spinner
		.load-text
			span(class="bounce") L 
			span(class="bounce2") O 
			span(class="bounce") A 
			span(class="bounce2") D 
			span(class="bounce") I 
			span(class="bounce2") N 
			span(class="bounce") G 

	
	a(id="home")
	.content
		.startscreen
			video(autoplay muted loop, id="titlevideo")
				source(src="img/cart2.mp4", type="video/mp4")
				source(src="img/cart2.webm", type="video/webm")
				source(src="img/cart2.ogv", type="video/ogg")
			.title
				img(src="img/title-black.png", alt="Diggin' In The Carts")

				
		.videos
			a(id="videos")
			.video-wrapper
				h1 The Series
			div(id="player")
			.video-nav
				a(class="pulldown")
						li All Episodes
				ul(class="episode-list")
				

	.composers
		h1 Meet The Composers
		a(id="composers")
		.composers-wrap
			a(class="arrow-left", href="#")
			a(class="arrow-right", href="#")



	.radio
		.radio-wrapper
			h1 Video Game Mixes


	.stories
		a(id="stories")
		.story-wrapper
			h1 Hidden Levels
		div(id="storyplayer")
		.story-nav
			a(class="pulldown")
				li All Episodes
			ul
		p(class="body") Basic text about the video series should go here. Not very long.


	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(type="text/javascript", src="js/contentful.min.js")
	script(type="text/javascript", src="js/moment.js")
	script(type="text/javascript", src="js/fittext.js")
	script(src="js/beast.js", type="text/javascript")

