doctype html
head
	title Diggin' In The Carts
	meta(charset="UTF-8")
	link(rel="stylesheet", type="text/css", href="../css/animate.css")
	link(rel="stylesheet", type="text/css", href="../css/beast.css")


body
	canvas(id="canvas")
	.composer-page
		a(class="exit", href="../")
		.data-container
			.artist


	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(type="text/javascript", src="../js/contentful.min.js")
	script(type="text/javascript", src="../js/fittext.js")
	script(type="text/javascript", src="../js/falling.js.js")
	script(src="../js/beast.js", type="text/javascript")

